body {
    background-color: #c2d0d6;
    font-family: 'Merriweather', serif;
}

#app {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot-and-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.function-input {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

#function-input-wrapper {
    padding: 3px;
    margin: 8px;
    border-radius: 2px;
    &.success {
        background-color: rgb(30, 255, 22);
    }
}

.function-plot {
    // border: 2px solid black;
    width: 400px;
    height:400px;
    background-color: white;
}

#blurred-background {
    background-color: rgba(92, 133, 143, 0.8);
    color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        width: 50%;
    }
}

#solution {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    font-size: 20px;
}

#input-and-solution-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg.function-plot {
    font-size: 10px;
}

#modes-header {
    position: absolute;
}